@model DelControlWeb.Models.User
@{
    ViewBag.Title = "Удаление пользователя";
}

<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>
<h3>Вы уверены, что хотите удалить данного пользователя?</h3>
<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Фамилия и инициалы", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.UserName</p>
        </div>
    </div>

    <div class="form-group form-inline">
        @Html.Label("ID компании", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <a href="/Companies/Details/@Model.CompanyId"><p class="form-control-static">@Model.CompanyId</p></a>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Номер телефона", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.Phone</p>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Адрес", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.Address</p>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.Email</p>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </div>
    }
</div>