@model IEnumerable<DelControlWeb.Models.Order>
@{
    ViewBag.Title = "Управление заказами";
}

<p>
    @Html.ActionLink("Добавить заказ", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>ID</th>
        <th>Заказчик</th>
        <th>Адрес доставки</th>
        <th>Дата и время доставки</th>
        <th>Курьер</th>
        <th>Статус заказа</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.CustomerName</td>
            <td>@item.DeliveryAddress</td>
            <td>@item.DeliveryDate.ToString("d"), @item.DeliveryTime.ToString("t")</td>
            <td><a href="/UserAccounts/Details/@item.CourierId"> @item.CourierId </a></td>
            <td>@item.Status</td>
            <td>
                <a href="/Orders/Edit/@item.Id" class="glyphicon glyphicon-pencil" style="color: green; text-decoration: none" />
                <a href="/Orders/Details/@item.Id" class="glyphicon glyphicon-eye-open" style="color: cornflowerblue; text-decoration: none" />
                <a href="/Orders/Delete/@item.Id" class="glyphicon glyphicon-trash" style="color: red; text-decoration: none" />
            </td>
        </tr>
    }
</table>