@model IEnumerable<DelControlWeb.Models.Order>
@{
    ViewBag.Title = "Управление заказами";
}

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Заказчик</th>
        <th>Адрес доставки</th>
        <th>Дата и время доставки</th>
        <th>Курьер</th>
        <th>Статус заказа</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.CustomerName</td>
        <td>@item.DeliveryAddress</td>
        <td>@item.DeliveryDate, @item.DeliveryTime</td>
        <td><a href="/Couriers/Details/@item.Id">@item.CourierId</a></td>
        <td>@item.Status</td>
        <td>
            <a href="/Orders/Edit/@item.Id" class="glyphicon glyphicon-pencil" style="text-decoration: none" />
            <a href="/Orders/Details/@item.Id" class="glyphicon glyphicon-eye-open" style="text-decoration: none" />
            <a href="/Orders/Delete/@item.Id" class="glyphicon glyphicon-trash" style="text-decoration: none" />
        </td>
    </tr>
    }
</table>