@model DelControlWeb.Models.User
@{
    ViewBag.Title = "Информация о пользователе";
}

<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.Label("Фамилия и инициалы", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.UserName</p>
        </div>
    </div>

    <div class="form-group form-inline">
        @Html.Label("ID компании", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <a href="/Companies/Details/@Model.CompanyId"><p class="form-control-static">@Model.CompanyId</p></a>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Номер телефона", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.Phone</p>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Адрес", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.Address</p>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.Email</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-5 col-md-3">
            <a href="/UserAccounts/Edit/@Model.Id" class="btn btn-block btn-default">Редактировать</a>
        </div>
    </div>
</div>