@model DelControlWeb.Models.Customer
@{
    ViewBag.Title = "Удаление заказчика";
}

<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>
<h3>Вы уверены, что хотите удалить данного заказчика?</h3>
<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Имя", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.Name</p>
        </div>
    </div>


    <div class="form-group">
        @Html.Label("Номер телефона", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.Phone</p>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Адрес", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.Address</p>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </div>
    }
</div>