@model IEnumerable<DelControlWeb.Models.Customer>
@{
    ViewBag.Title = "Заказчики";
}

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>Имя</th>
        <th>Номер телефона</th>
        <th>Адресс</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Phone</td>
            <td>@item.Address</td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Детали", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>