@model DelControlWeb.Models.Company
@{
    ViewBag.Title = "Информация о компании";
}

<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.Name</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RegisterNumber, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.RegisterNumber</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RegisterDate, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.RegisterDate.ToString("d")</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TaxpayerNumber, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.TaxpayerNumber</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <p class="form-control-static">@Model.Address</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-5 col-md-3">
            <a href="/CompanyAccounts/Edit/@Model.Id" class="btn btn-block btn-default">Редактировать</a>
        </div>
    </div>
</div>