<ul class="nav navbar-nav">
    @if (!User.Identity.IsAuthenticated)
    {
        <li>@Html.ActionLink("О приложении", "About", "Home", null, new { style = "color:white" })</li>

    }
    else
    {
        if (User.IsInRole("admin"))
        {
            <li>@Html.ActionLink("Пользователи", "Index", "UserAccounts", null, new { style = "color:white" })</li>
            <li>@Html.ActionLink("Компании", "Index", "CompanyAccounts", null, new { style = "color:white" })</li>
        }
        else if (User.IsInRole("company"))
        {
            <li>@Html.ActionLink("Сотрудники", "Index", "ManagerAccounts", null, new { style = "color:white" })</li>
        }
        else if (User.IsInRole("manager"))
        {
            <li>@Html.ActionLink("Заказы", "Index", "Orders", null, new { style = "color:white" })</li>
            <li>@Html.ActionLink("Курьеры", "Index", "Couriers", null, new { style = "color:white" })</li>
        }
    }
</ul>